.cast-carousel {
    position: relative;
    margin: 20px auto;
    max-width: 1200px;
}

.cast-carousel__controls {
    display: flex;
    align-items: center;
    position: relative;
}

.cast-carousel__controls .cast-carousel__control{
    background: none;
    border: none;
    color: #000;
    font-size: 24px;
    cursor: pointer;
    z-index: 2;
    background-color: #ffffffc7;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.cast-carousel__control--left {
    position: absolute;
    left: -20px;
}

.cast-carousel__control--right {
    position: absolute;
    right: -20px;
}

.cast-carousel__container {
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding: 0 10px;
    overflow-x: hidden;
}

.cast-carousel h2 {
    color: #fff;
}

.cast-carousel__item {
    min-width: 150px;
    margin-right: 10px;
    text-align: center;
}

.cast-carousel__image {
    width: 100%;
    border-radius: 8px;
    display: block;
    -webkit-box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 10px 5px 1px rgba(0, 0, 0, 0.43);
}

.cast-carousel__image.no-profile-image {
    background-color: #e0e0e0;
    color: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 225px;
    border-radius: 8px;
}

.cast-carousel__name {
    margin-top: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
}

.cast-carousel__crew {
    margin-top: 20px;
}

.cast-carousel__crew-item {
    margin-bottom: 10px;
}

.cast-carousel__crew-item h3 {
    margin: 0;
    font-size: 1.2em;
}

.cast-carousel__crew-item p {
    margin: 0;
    font-size: 1em;
}

.svg-inline--fa.fa-user {
    height: 3.8em;
}